* {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: Arial;
}
#div-main {
    border: 2px solid;
    margin: 200px auto;
    width: 80%;
    min-width: 220px;
    max-width: 500px;
}
#div-round {
    margin: 10px 10%;
    text-align: center;
}
#div-score {
    margin: 20px 10%;
    text-align: center;
    font-size: 50px;
}
#div-text {
    margin: 20px 10%;
    text-align: center;
}
#div-button {
    margin: 10px 10%;
    text-align: center;
}
#div-max {
    margin: 20px 10%;
    text-align: center;
}
button {
    margin: 10px 8px;
    width: 90px;
    height: 25px;
    border: 1px solid;
    cursor: pointer;
}
button:hover {
    background-color: rgb(230, 230, 230);
}
#input-max {
    width: 32px;
    border: 1px solid;
}